<template>
  <div class="content">
    <div class="separator">
      <div class="separator-border"></div>
    </div>
    <ContentHeader
      :title="title"
      :imagePath="imagePath"
      :author="author"
      :createdDate="createdDate"
      :note="note"
      :nomDeJeu="nomDeJeu"
      :categorie="categorie"
    />
    <ContentArticle v-bind:text="text" />
       <ContentInfo  
    :note="note"
    :nomDeJeu="nomDeJeu"
    :categorie="categorie" />
    <ContentComment />
  </div>
</template>

<script>
import ContentHeader from '@/components/commons/content/ContentHeader.vue';
import ContentArticle from '@/components/commons/content/ContentArticle.vue';
import ContentInfo from "@/components/commons/content/ContentInfo.vue";
import ContentComment from '@/components/commons/content/ContentComment.vue';

export default {
  name: 'Content',
  components: {
    ContentArticle,
    ContentHeader,
    ContentComment,
    ContentInfo,
  },
  props: {
    text: String,
    title: String,
    imagePath: String,
    author: String,
    createdDate: String,
    note: String,
    nomDeJeu: String,
    categorie: String,
  },
};
</script>

<style scoped>
.content .separator {
  width: 100%;
  box-sizing: border-box;
  padding-left: 80px;
  padding-right: 80px;
}

.content .separator .separator-border {
  border-top: black solid 1px;
}
</style>
