<template>
  <div class="info">
    <h3>{{note}} - {{nomDeJeu}} - {{categorie}}</h3>
  </div>
</template>

<script>
export default {
  name: "ContentHeader",
  props: {
    note: String,
    nomDeJeu: String,
    categorie: String
  }
};
</script>

<style>
.info {
  text-align: center;
  font-size: 30px;
}
</style>