
<template>
  <div class="categories">
    <div class="item" v-for="genre in genresList" v-bind:key="genre.genre">
      <categorieItem :categorie="genre.genre"/>
    </div>
  </div>
</template>

<script>
import categorieItem from "@/components/commons/CategorieItem.vue";
export default {
  components: {
    categorieItem
  },
  data() {
    return {
      genresList: [
        { genre: "RTS" },
        { genre: "FPS-TPS" },
        { genre: "MMO" },
        { genre: "RPG" }
      ]
    };
  }
};
</script>

<style>
.categories {
  padding-top: 2em;
  min-width: 200px;
  background-color: #2c2c2c;
}
</style>