<template>
  <div class="item" @click="goToNews">{{categorie}}</div>
</template>

<script>
export default {
  props: {
    categorie: String
  },
   methods: {
    goToNews() {
      this.$router.push({ name: 'categorie', params: { categorie:this.categorie } });
      this.$router.go();
    },
   }
}
</script>

<style>
.item {
  padding: 10px;
  font-size: 1.2em;
  color: beige;
}
</style>