<template>
  <div class="main">
    <div class="container">
      <!--Content :title="articleTitle" :text="articleText" /-->
      <router-view/>
    </div>
  </div>
</template>

<script>
import Content from '@/components/commons/content/Content.vue';

export default {
  name: 'Main',
  components: {
    Content,
  },
};
</script>

<style scoped>
.main {
  display: flex;
  justify-content: center;

  width: 100%;
  min-height: calc(100% - 300px);
}

.main .container {
  background-color: #d8d8d8;

  max-width: 1920px;
  min-height: 100%;
  padding-top: 78px;
}
</style>
