<template>
  <div class="content-grid">
    <div class="item" v-for="jeu in games" v-bind:key="jeu.id">
      <Item :id="jeu.id" :bannerPath="jeu.image" :title="jeu.titre" :score="jeu.note" />
    </div>
  </div>
</template>

<script>
import Item from "@/components/commons/content/grid/Item.vue";
import axios from "axios";
import ArticleModel from "@/models/article";

export default {
  name: "ContentGrid",
  components: {
    Item
  },
  data() {
    return { 
      games: null
      };
  },
  async mounted() {
    var reponse = null;
    if (this.$route.params.categorie != null)
    {
      reponse = await axios.get(`http://localhost:3000/categorie/`+ this.$route.params.categorie);

    }
    else {
       reponse = await axios.get("http://localhost:3000/jeux");
    }
    this.games = reponse.data;
    
  }
};
</script>

<style>
.content-grid {
  display: flex;
  flex-wrap: wrap;
  color: white;

  justify-content: center;
  min-width: calc(100vw - 240px);
  padding-left: 20px;
  padding-right: 20px;
}

.content-grid .item {
  width: calc(25% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media all and (max-width: 768px) {
  .content-grid .item {
    width: calc(100% - 40px);
  }
}

@media all and (max-width: 1024px) and (min-width: 769px) {
  .content-grid .item {
    width: calc(40% - 40px);
  }
}
</style>
