<template>
    <div class="news">
      <Content v-if="article"
        :title="article.titre"
        :text="article.Review"
        :imagePath="article.image"
        :author="article.auteur"
        :createdDate="article.date"
        :note="article.note"
        :nomDeJeu="article.nom"
        :categorie="article.categorie"
      />
    </div>
</template>

<script>
import axios from "axios";
import articleModel from '@/models/article.js';
import Content from '@/components/commons/content/Content.vue';

export default {
  name: 'NewsIndex',
  components: {
    Content,
  },
  data() {
    return {
      article: null
    };
  },
  async mounted() {
    const reponse = await axios.get('http://localhost:3000/jeux/' + this.$route.params.id);
    this.article = reponse.data;
  }
};
</script>

<style scoped>
    .home {
        background-color: #3B3F48;
        width: 100%;
    }
</style>