<template>
  <div class="comment">
    <button @click="deleteComment" class="button">X</button>
    <div class="comment-header">
      Par
      <span class="username">{{username}}</span>
      le {{ date }}
    </div>
    <div class="comment-text">{{text}}</div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Comment",
  props: {
    date: String,
    username: String,
    text: String,
  },
  methods: {
    async deleteComment() {
      const comment = {
        author: this.username,
        comment: this.text,
        date: this.date
      };
      const reponse = await axios.delete(
        "http://localhost:3000/jeux/" + this.$route.params.id + "/comment", { data: comment });
    },
  },
};
</script>

<style scoped>
.comment {
  background-color: white;
  padding: 20px;
}

.comment .comment-header {
  margin-bottom: 20px;
}

.comment .comment-header > .username {
  color: #40565e;
  font-weight: bold;
}

.button {
  float: right;
}
</style>
