<template>
  <div class="header-menu">
    <div class="links">
      <a  @click="goToHome">TESTS</a>
      <a @click="goToWrite">ÉCRIRE UN TEST</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HeaderMenu',
  methods: {
    goToHome() {
      this.$router.push({ name: 'home' }).catch((err) => {});
      this.$router.go();
    },
    goToWrite(){
      this.$router.push({name: 'writeReview'});
    },
  },
};
</script>

<style scoped>
.header-menu {
  display: flex;
  align-items: center;
}

.header-menu > .user {
  margin-left: 20px;
  margin-right: 5px;
  background-color: cornflowerblue;
  padding: 20px;

  border-radius: 60px;
}

.header-menu > .links a {
  margin-left: 10px;
  margin-right: 10px;

  font-size: 20px;
}
</style>
